// _variables.scss
$color-background: #333333;
$color-dark: #484748;
$color-light: #fefefe;
$color-accent: #875c94;
$color-secondary: #c7b8cc;

$font-default: 'Montserrat', sans-serif;
$font-gothic: 'UnifrakturCook', cursive;
