:root {
  // Couleurs principales
  --color-background: #333333;
  --color-light: #FEFEFE;
  --color-dark: #484748;
  --color-accent: darkred;
  --color-secondary: #C7b8cc;

  // Polices
  --font-default: 'Montserrat', sans-serif;
  --font-gothic: 'American Text', cursive;
  --font-old-london: 'Old London', cursive;
  --font-american-text : 'American Texte', cursive;
  --font-heavy-metal-blight: 'Heavy Metal Blight', cursive;

}
