:root {
  // Couleurs principales
  --color-background: #333333;
  --color-light: #FEFEFE;
  --color-dark: #484748;
  --color-accent: #875c94;
  --color-secondary: #C7b8cc;

  // Polices
  --font-default: 'Montserrat', sans-serif;
  --font-gothic: 'UnifrakturCook', cursive;
}
