@font-face {
    font-family: 'Old London';
    src: url('/fonts/OldLondon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'American Text';
    src: url('/fonts/AmericanText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
