:root {
    --font-default: 'Montserrat', sans-serif;
    --font-gothic: 'UnifrakturCook', cursive;

    --color-violet: #7f00ff;
    --color-dark: #000;
    --color-light: #fff;
}

/* Applique la police par défaut sur tout le site */
body {
    font-family: var(--font-default);
    margin: 0;
    padding: 0;
    background: var(--color-dark);
    color: var(--color-light);
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Tu peux ajouter un style global pour les titres */
h1, h2, h3 {
    font-family: var(--font-gothic);
    letter-spacing: 1px;
}
